

<section>
  <div class="banner">
    <div class="center-content">
  <h2> Hello My name is Faviola and I build websites</h2>
  <a href="portfolio"><button class="view_btn">View My Work</button></a>
</div>
</div>
</section>

