<section>
    <div class="banner">
        <div class="center-content">
            <h2><span>Faviola Caballero</span><br> Front-End & Web Developer <br> based in California</h2>
            <a href="portfolio"><button class="view_btn">View My Work</button></a>
        </div>
    </div>
</section>
