


<section>
  <div class="banner">
    <div class="center-content">
  <h2> Hello My name is Faviola and I build websites</h2>
  <a><button class="view_btn"><a href="#">View My Work</a></button></a>
</div>
</div>
</section>


