

<header>

  <div class="container">
  <div class="row">
  <div class="menu">
  <ul>
    <li><a href="#">Welcome</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
     <li><a href="#">Contact</a></li>
  </ul>
  </div>
  <div class="name">
    <h1>Faviola Caballero</h1>
  </div>
</div>
</div>
</header>

<section>
  <div class="banner">
    <div class="center-content">
  <h2> Hello My name is Faviola and I build websites</h2>
  <a><button class="view_btn"><a href="#">View My Work</a></button></a>
</div>
</div>
</section>

<footer>
  <div class="container">
    <ul class="social_links">
      <li><a class="github" href="#"></a></li>
      <li><a class="linked_in" href="#"></a></li>
    </ul>
    <div class= "p-text">
    <p>© 2020 Faviola Caballero</p>
  </div>
  </div>

</footer>
