

<section>
  <div class="banner2"></div>
  <div class="container">
  <div class="row">
  <div class="col-md-6 card">
    <a class="card-img1" href="http://www.shadowme.social/"></a>
    <div class="card-content">
    <h2>ShadowMe</h2>
    <p>ShadowMe, a place where students can explore career options and have the opportunity to shadow a professional in person all over the world. This was built in the last 2 weeks of Le Wagon coding bootcamp with a team of 3.</p>
    </div>
    </div>
    <div class="col-md-6 card">
    <a class="card-img2" href="http://www.webuybayareahomes.net/"></a>
    <div class="card-content">
    <h2>New Equity Capital, Inc.</h2>
    <p>This is a website I made for a client who buys homes in cash. I used HTML5, CSS, JavaScript. I also used CSS media queries and Bootstrap grid to make design responsive.</p>
  </div>
    </div>
    </div>
      <div class="row">
  <div class="col-md-6 card">
    <div class="card-content">
    <div class="card-img3"></div>
    <h2>Title of the app</h2>
    <p>Description of the app</p>
  </div>
    </div>
    <div class="col-md-6 card">
    <div class="card-img4"></div>
    <div class="card-content">
    <h2>Title of the app</h2>
    <p>Description of the app</p>
  </div>
    </div>
    </div>
  </div>
</section>
