<section class="about_background">
    <div class="black-card" id="introduction">
        <div class="row">
            <div class="col-md-4">
                <img alt="Me" src="https://res.cloudinary.com/dp85wftaz/image/upload/v1582937487/Portfolio%20images/portfolio_fz2t09.jpg" class="profile-img">
            </div>
            <div class="col-md-8">
                <div class="about-content">
                    <h2> Hi, my name is Faviola<br>& this is my journey.</h2>
                    <div class="first-p">
                    <p>I've always been interested in learning how to code. It wasn't until I received my associate's degree in Business Administration when I decided to give it a try. I recently attended an intense 9-week coding bootcamp that teaches you the skills you need in order to become a Fullstack Developer. It was a very challenging experience but overall, I enjoyed that I was constantly learning something new. I think it's amazing how I was able to build a website from start to finish. After the bootcamp, I realized that I enjoyed the front end more than the back end. My goal is to improve my skills and knowledge on both.<p></div>
                    <p>I am currently building websites and working on web apps for personal and free-lance projects. I am also self teaching myself how to use React and Node.js. I am in search for an Entry Front End Developer/Web Developer/Full Stack Developer position.
                    </p>
                    <p>I have experience with HTML5, CSS, Bootstrap, JavaScript, Github, Heroku, Figma, Ruby, and Ruby on Rails.</p>
                </div>
            </div>
        </div>
    </div>
</section>
