
<section>
  <div class="container">
  <div class="row">
<div class="col-md-5">
  <img alt="Me" src="/assets/portfolio.jpeg" class="profile-img">
</div>
<div class="col-md-7">
  <h2>Hello, my name is Faviola and this is my journey.</h2>
  <p>I became interested in learning how to code after highschool but was a bit intimidated due to the fact that usually men pursue this career. It was after I received my associates in Business Administration in which I decided to give coding a try before even enrolling into a 4 year University. I decided to attend an intense 9-week coding bootcamp in which helps you become a Fullstack Developer. We were also given the opportunity to pitch in an idea in which mine was one of the 3 that got chosen and then we built an application in 2 weeks. After the bootcamp I really enjoyed the fact that I was able to build something from start to finish. I decided to improve on some of the information I lacked and wanted to learn new things. I took time to go over the work and improve my skills by making some projects on my own. I became more interested in the front end but would like to also work in the back end.</p>
  <p>I am currently building websites and working on web apps for personal and free-lance projects. I am in search for an Entry Front End Developer, Web Developer, Full Stack Developer position. I have experience with HTML, CSS, Bootstrap, JavaScriptES6, SQL, Github, Heroku, Ruby, and Ruby on rails. I am hoping to expand my knowledge by not only improving my skills but also learning new things.
  This is just a starting about section for now.</p>
</div>

  </div>
  </div>
</section>

