<section>
    <div class="row">
        <div class="b-image">
            <h3>Contact Me</h3>
            <div class="two-sections">
                <div class="col-md-7">
                    <form>
                        <div class="form-body">
                            <div class="form-group">
                                <label for="inputName"></label>
                                <input type="text" class="form-control" id="inputName" placeholder="Name" required data-error-msg="Must enter name?">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail"></label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="user[email]" required data-error-msg="Email required in valid format!">
                            </div>
                            <div class="form-group">
                                <label for="inputMessage"></label>
                                <textarea class="form-control" id="inputMessage" rows="4" placeholder="Message"></textarea>
                            </div>
                            <div class="button-align">
                                <div class="form-group">
                                    <button type="submit" id="okButton" class="btn btn-primary" onclick="sendForm(event)">Submit</button>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
                <div class="alert alert-warning alert-dismissible fade show m-1" id="success-pop-up" role="alert">
                    Your information has been sent.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="alert alert-warning alert-dismissible fade show m-1" id="error-pop-up" role="alert">
                    ERROR! Not sent. Please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="col-md-5">
                    <div class="icons">
                        <div class="icon-content">
                            <img alt="location" src="/assets/LW.png" class="location">
                            <h4><span>Location:</span> San Francisco, CA </h4>
                        </div>
                        <div class="icon-content">
                            <img alt="cell" src="/assets/cw.png" class="cell">
                            <p class="p-d"><span>Phone:</span>
                                <a href="tel:+16502085816">650-208-5816</a>
                            </p>
                        </div>
                        <div class="icon-content">
                            <img alt="email" src="/assets/ew.png" class="email">
                            <h4><span>Email:</span> faviola.caballerog@gmail.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
