// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-img {
  // margin-top: 100px;
  // margin-left: 20px;
  margin: 150px 50px;
  filter: grayscale(100%);
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.profile-img:hover {

  // margin-top: 100px;
  // margin-left: 20px;
  margin: 150px 50px;
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  filter: grayscale(0%);
}


.about_background {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1583016145/Portfolio%20images/glitter_skw1py.jpg");
  display: flex;
  background-size: cover;
  background-position: center;
}

.about-content {
  margin: 50px 50px;
  text-align: start;
}

 .black-card {
    background-color: black;
    opacity: 0.9;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-radius: 4px;
    width: 100%;
    margin: 50px 100px;
    text-align: center;
    height: 600px;
}


.about-content h2 {
 color: #1168FC;
 // font-family: 'Rock Salt', ;
font-family: 'Orbitron', ;

border-bottom: 1px solid white;
text-align: center;
padding-bottom: 20px;
}

.first-p{
  padding-top: 15px;
}
