// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  margin: 0;
 font-family: 'Open Sans', ;

}
html {
    overflow: hidden;
}

body {
    overflow: auto;
}

//when you put the background-image in the body it will take full screen width
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://res.cloudinary.com/dp85wftaz/image/upload/v1582940870/Portfolio%20images/code_zoom_qjaf5a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;


}

.container {
  margin: 0 auto;
  width: 960px;
}

/* Main */
.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}


// home page
// header
header {
  background-color: black;
}
.name h1{
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
    color: #7D07A5;
}
.row {
  justify-content: space-between;
}
.view_btn {
  background-color: black;
  opacity: 0.9;
  // rgba(0,0,0,0.8)
  border-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 9px;
  margin-left: 44%;
  margin-top: 20px;

}

.view_btn:hover {
  color: #1168FC;
  text-decoration: none;

}
// section
.banner h2 {
  color: white;
  padding-top: 210px;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  font-size: 35px;

}

.banner span{
  font-size: 50px;
  font-family: 'Orbitron', ;

}

.menu ul {
  list-style-type: none;
  display: inline-flex;
  padding-top: 20px;
}

.menu a {
  text-decoration: none;
  display: flex;
  padding: 20px;
  color: white;
}

.menu a:hover {
  color: #1168FC;
}



// footer
footer {
  background-color: black;
}

.github {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1582937441/Portfolio%20images/gh_ksvgnn.png");
}

.linked_in {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1582937444/Portfolio%20images/li_e0z8qu.png");
}

.social_links li a {
    display: block;
    height: 64px;
    width: 64px;
}

.social_links{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.p-text p {
  text-align: center;
    font-size: 20px;
    padding-left: 46px;
    margin-bottom: 0px;
    color: #7D07A5;
}
