// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-background {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1583016386/Portfolio%20images/bl_glaega.jpg");
  display: flex;
  background-size: cover;
}

.card {
  border: none;
  background-color: black;

}
.card-img1{
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1583017059/Portfolio%20images/fabtique_og2m4d.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  filter: grayscale(100%);

}

.card-img2 {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1582937467/Portfolio%20images/newequityrealty_g0vtpc.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  filter: grayscale(100%);

}
.card-img3 {

  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1582937478/Portfolio%20images/shadowme_bfmbkw.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  filter: grayscale(100%);

}
.card-img4 {
  background-image: url("https://res.cloudinary.com/dp85wftaz/image/upload/v1582937512/Portfolio%20images/port_j6pcdo.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  filter: grayscale(100%);

}

.card-black {
    background-color: black;
    opacity: 0.9;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-radius: 4px;
    width: 100%;
    margin: 50px 100px;
    text-align: center;
    height: 100%;
}

.card-img1:hover {
  filter: grayscale(0%);
}
.card-img2:hover {
  filter: grayscale(0%);
}
.card-img3:hover {
  filter: grayscale(0%);
}
.card-img4:hover {
  filter: grayscale(0%);
}


.card-row {
  justify-content: space-around;
  margin: 50px 50px;
}

.card-content h2{
  font-size: 20px;
  color: #7D07A5;
  text-align: left;
  font-weight: bold;
  font-family: 'Orbitron', ;
  padding-top: 20px;
}

.card-content p{
  max-height: 300px;
  text-align: left;
  // color: #7D07A5;
}
